In [1]:
#Importing dependencies
import datetime
import pandas as pd
import numpy as np

In [2]:
#Creating df with only the sates coordinates
#Getting all the states of the amazon rainforest and theire coordinates df
d = {'State':['AC', 'AM', 'AP', 'MA', 'MT', 'PA', 'RO', 'RR', 'TO'], 'Lat': [-8.799616483, -4.82605443, 2.26121804, -5.091295651, -12.74318585, -5.52269735, -11.00465456, 1.684942509,-10.80449496], "Lon" :[-70.79021306,-64.29524493,-50.77030209,-45.02842682,-55.74694942,-52.05705842,-62.68051451,-61.24848515,-48.25873989], "TotalDeforestationByStateKM2":[5722, 12425, 616, 8318, 43065, 62778, 22279, 3891, 1241]}

#Create the df
coordinates_df = pd.DataFrame(data=d)

#Display the data frame
print(coordinates_df)

#Saving the file into csv format
coordinates_df.to_csv("data/CoordinatesAndDeforestation.csv")
#Getting the value into json format
js_file = coordinates_df.to_json(orient = 'index')

print(js_file)

  State        Lat        Lon  TotalDeforestationByStateKM2
0    AC  -8.799616 -70.790213                          5722
1    AM  -4.826054 -64.295245                         12425
2    AP   2.261218 -50.770302                           616
3    MA  -5.091296 -45.028427                          8318
4    MT -12.743186 -55.746949                         43065
5    PA  -5.522697 -52.057058                         62778
6    RO -11.004655 -62.680515                         22279
7    RR   1.684943 -61.248485                          3891
8    TO -10.804495 -48.258740                          1241
{"0":{"State":"AC","Lat":-8.799616483,"Lon":-70.79021306,"TotalDeforestationByStateKM2":5722},"1":{"State":"AM","Lat":-4.82605443,"Lon":-64.29524493,"TotalDeforestationByStateKM2":12425},"2":{"State":"AP","Lat":2.26121804,"Lon":-50.77030209,"TotalDeforestationByStateKM2":616},"3":{"State":"MA","Lat":-5.091295651,"Lon":-45.02842682,"TotalDeforestationByStateKM2":8318},"4":{"State":"MT","Lat":-12.74318585,"Lon":-55.74694942,"TotalDeforestationByStateKM2":43065},"5":{"State":"PA","Lat":-5.52269735,"Lon":-52.05705842,"TotalDeforestationByStateKM2":62778},"6":{"State":"RO","Lat":-11.00465456,"Lon":-62.68051451,"TotalDeforestationByStateKM2":22279},"7":{"State":"RR","Lat":1.684942509,"Lon":-61.24848515,"TotalDeforestationByStateKM2":3891},"8":{"State":"TO","Lat":-10.80449496,"Lon":-48.25873989,"TotalDeforestationByStateKM2":1241}}

In [3]:
coordinates_df

  State        Lat        Lon  TotalDeforestationByStateKM2
0    AC  -8.799616 -70.790213                          5722
1    AM  -4.826054 -64.295245                         12425
2    AP   2.261218 -50.770302                           616
3    MA  -5.091296 -45.028427                          8318
4    MT -12.743186 -55.746949                         43065
5    PA  -5.522697 -52.057058                         62778
6    RO -11.004655 -62.680515                         22279
7    RR   1.684943 -61.248485                          3891
8    TO -10.804495 -48.258740                          1241